body {
    font-family: 'IBM Plex Sans Arabic', sans-serif;
    background-color: lightgray;
}

h2, p, .readme-wrapper {
    text-align: center;
}

a{
    text-decoration: none;
    color:red;    
}

a:hover{
    font-weight:bold;
    color:green;
    cursor: pointer;
}

span{
    color:seagreen;
    font-weight:900;
}

.boxes{
    margin: 1em;
    padding: 1em;
    border: 2px solid blue;
    border-radius: 4rem; 
    width: 30em;
    display: block;
}

#box1{
    background-color: skyblue;
}

#box2{
    background-color: yellow;
}

#box3{
    background-color: thistle;
}

#box4{
    background-color: olivedrab;
}

.images{
    height: 50px;
    width: 50px;
    border-radius: 50px;
    background-color: red;
    position: absolute;
    left: 10em
}

.original{
    color: pink;
}

.additional{
    color:skyblue;
}

#show1{
    Color:gold
}

#show2{
    color:tomato
}

#show3{
    color:brown
}

#show4{
    color:crimson
}

#show5{
    color:darkgreen
}

li{
    color:purple
}

.star{
    color:salmon
}

#wars{
    color:blueviolet
}

.list{
    border: 2px solid black
}
